:root {
    --brandpurple: #5F2DAD;
    --grey: #4D4D4D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: white;
}

body {
    background-color: rgb(23, 23, 23);
}

.button {
    text-decoration: none;
}

/*=============================== HEADER ===============================*/

.button-header {
    text-decoration: none;
}

header {
    background-color: var(--grey);
    padding: 75px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 50px;
}

#logo {
    width: 300px;
}

/*=============================== PROFILE ===============================*/

#profile {
    margin: 35px;
    background-color: rgb(37, 37, 37);
    padding: 30px;
    border-radius: 15px;
}

.button.profile-general {
    display: flex;
    flex-direction: row;
    
}

.button.profile {
    border: 2px solid var(--brandpurple);
    padding: 1px 20px 1px 20px;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.button.profile:hover {
    background-color: var(--brandpurple);
    
}

.profile-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*=============================== PROFILE-STATS ===============================*/

.profile-stats {
    margin-top: 100px;
}

.stats-title {
    margin-bottom: 10px;
}

.height {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gainloss {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-body {
    border: 3px solid var(--brandpurple);
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.stats-body.standard {
    margin-bottom: 60px;
}

.gainloss-stats {
    margin-left: -45px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*=============================== PROFILE-IMG-BODY ===============================*/

.img-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-right: 60px;
}

#body-figure {
    opacity: 0.4;
    height: 800px;
}

/*=============================== PROFILE-TABLE ===============================*/

#weight-history {

}

/*=============================== CONTROLLER ===============================*/

#controller {
    visibility: hidden;
}

.footer {
    
}

.footer-text {
    text-align: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: black !important;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.hidden-content {
    position: fixed;
    top: 0;
    visibility: hidden;
}